#all
{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    grid-template-areas: 
    "HEADER HEADER"
    "NAV article"
    "footer footer"
    ;
}
header{
    border-radius: 5px;
    background-color: rgb(22, 48, 177);
    grid-area: HEADER;
    display: flex;
    justify-content: space-around;
}
.flex{
    background-color: rgb(197, 226, 8);
}
nav{
    border-radius: 5px;
    background-color: rgb(15, 142, 55);
    grid-area: NAV;

}
article{
    border-radius: 5px;
    background-color: aqua;
    grid-area: article;

}
footer{
    border-radius: 5px;
    background-color: rgb(222, 181, 17);
    grid-area: footer;
}

@media screen and  (max-width: 1299px)and (min-width:801px)  {
    #all{
        width: 80%;
        margin: auto;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        grid-template-areas: 
        "HEADER HEADER"
        "article NAV"
        "footer NAV"
        ;

    } 
}
@media screen and  (max-width: 801px)and (min-width:250px)  {
    #all{
        width: 100%;
        margin: auto;
        grid-template-columns: 2fr;
        grid-gap: 10px;
        grid-template-areas: 
        "HEADER "
        "NAV "
        "article"
        "footer"
        ;

    } 
}