#all {
  width: 75%;
  margin: auto;
  zoom: 150%;
}
header {
  background-color: rgb(22, 50, 141);
}
nav {
  background-color: aqua;
}
article {
  background-color: blueviolet;
}
footer {
  background-color: chocolate;
}
